@import "vars";

.wrapper {
  background: #EFF0F2;
  width: 100vw;
  height: 100vh;
  padding: 0 50px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.searchbox {
  display: flex;
  border: 1px solid #D0D0D0;
  align-items: center;
  width: 250px;

  &__input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 5px 0;
  }

  &__icon {
    padding: 5px 12px;
  }
}

.shops {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.shop {
  padding: 35px;
  border-radius: 15px;
  border: 1px solid #B9B9B9;
  flex-basis: calc(25% - 1rem);
  cursor: pointer;

  &__top {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__changes {
    font-size: 11px;
    color: #5E5E5E;
  }

  &__details {

  }
}

.modal {
  max-width: 100%;
  width: 450px;
  overflow: hidden;
  margin: 0 auto;
  background: $bg;
  inset: 40px;
  position: absolute;
  padding: 40px;
  border-radius: 10px;
  height: fit-content;

  &__title {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  &__list {
    overflow-y: scroll;
    max-height: 300px;
  }

  &__overlay {
    position: fixed;
    inset: 0px;
    background-color: #000000ab;
  }

  &__button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    background: $purple;
    color: white;
    margin-left: auto;
    display: block;
  }

  &__link {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 1rem 0;
  }

  &__footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;

    .modal__button {
      margin: 0 !important;
    }
  }

  &__field {
    padding: 7px 15px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    margin: 1rem 0;
  }
}

.domain {
  padding: .5rem 1rem;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background: #e8e8e8;

  &:hover {
    background: #dcdcdc;
  }

  &+.domain {
    margin-top: .5rem;
  }

  &.domain_active {
    border: 1px solid $purple;
  }
}